.footer {
  background-color: black;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

.food {
  filter: invert(100%) sepia(97%) saturate(16%) hue-rotate(205deg) brightness(104%) contrast(100%);
}

.explore {
  filter: invert(100%) sepia(97%) saturate(16%) hue-rotate(205deg) brightness(104%) contrast(100%);
}

.drinks {
  filter: invert(100%) sepia(97%) saturate(16%) hue-rotate(205deg) brightness(104%) contrast(100%);
}
